.ec-size-2-2em {
  font-size: 2.2em !important;
}
@font-face {
  font-family: 'ec-font';
  src: url('./EC-Nordbund.otf') format('opentype');
}

* {
  user-select: none;
}

html {
  overflow: hidden !important;
}

.route-animation {
  position: absolute;
  width: 100%;
  transition: transform 0.3s ease;
}

.no-route-animation {
  position: absolute;
  width: 100%;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  transform: translateX(100%);
}
.slide-left-leave-active,
.slide-right-enter {
  transform: translateX(-100%);
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./material.woff2') format('woff2');
}

@keyframes rotate {
  0% {
    transfrom: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.ec-rotate {
  animation: rotate 0.5s infinite;
}