.ec-size-2-2em {
  font-size: 2.2em !important;
}
@font-face {
  font-family: 'ec-font';
  src: url('./EC-Nordbund.otf') format('opentype');
}

* {
  user-select: none;
}

html {
  overflow: hidden !important;
}
