.ec-size-2-2em {
  font-size: 2.2em !important;
}
@font-face {
  font-family: 'ec-font';
  src: url('./EC-Nordbund.otf') format('opentype');
}

* {
  user-select: none;
}

html {
  overflow: hidden !important;
}

.route-animation {
  position: absolute;
  width: 100%;
  transition: -webkit-transform 0.3s ease,
    transform 0.3s ease;
}

.no-route-animation {
  position: absolute;
  width: 100%;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.slide-left-enter,
.slide-right-leave-active {
  /* opacity: 0; */
  -webkit-transform: translateX(100%);
  transform: translatex(100%);
}
.slide-left-leave-active,
.slide-right-enter {
  /* opacity: 0; */
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
