    * {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  overflow: hidden;
  border: solid 2px gray;
}

#title {
  display: block;
  margin: 0 auto;
  padding: 12px;
  color: #8fb217;
}

#content {
  height: 248px;
  background-image: url('../img/ec-logo-without-bg-48.png');
  background-repeat: repeat;
  background-color: #eeeeee;
}

#footer {
  height: 28px;
  padding: 6px;
  width: 100%;
  background: #8fb217;
  color: white;
}

.avatar {
  position: relative;
  margin: 4px auto;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: white;
  box-shadow: inset 0 0 6px 2px rgba(0, 0, 0, 0.25),
    0 0 16px 8px #eeeeee;
}

.animation {
  position: absolute;
  width: 100%;
}

.load {
  position: relative;
  margin: 30px auto;
  width: 100px;
  height: 100px;
}

.gear {
  position: absolute;
  z-index: 10;
  width: 40px;
  height: 40px;
  animation: spin 5s infinite;
}

.two {
  left: 40px;
  width: 80px;
  height: 80px;
  animation: spin-reverse 5s infinite;
}

.three {
  top: 45px;
  left: -10px;
  width: 60px;
  height: 60px;
}

@keyframes spin {
  50% {
    transform: rotate(360deg);
  }
}

@keyframes spin-reverse {
  50% {
    transform: rotate(-360deg);
  }
}

.text {
  font-family: 'ec-font';
  text-align: center;
  padding: 4px;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.dot-animation::after {
  content: '.';
  animation: dots 1s steps(3, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0),
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 white,
      0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

@font-face {
  font-family: 'ec-font';
  src: url('../font/EC-Nordbund.otf') format('opentype');
}